# Składniki binarne (pobierane automatycznie)
bin/*.exe

# Lokalna konfiguracja użytkownika
config/settings.json
config/cookies.dat
config/update_cache.json

# Python
__pycache__/
*.pyc

# Build PyInstaller
build/
dist/
exec/
version_info.txt
